@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400italic);

/* --------------------------- global ---------------------------*/
.container {margin-left: 15%!important; margin-right: 15%!important; }
.clear {clear: left; clear: right; clear: both;}
video {margin: 0; padding: 0;}
.float-right {float: right;}
.float-left {float: left;}
html {background: white;}
.align-left {text-align: left!important;}
.align-right {text-align: right!important;}
.align-center {text-align: center!important;}
.margin-left {margin-left: 15%!important;}
.little-margin-left {margin-left: 8.5%!important;}
.margin-right {margin-right: 15%!important;}
.margin-bottom {margin-bottom: 2%!important;}
.margin-top {margin-top: 2%!important;}
.block {display: block;}
.inline {display:inline-block;}
button:hover {cursor: pointer;}
/* -------------------------- End Container ----------------------*/


/* -------------------------- Header ---------------------------- */
header nav {width: 100%; height: 75px; line-height: 75px; text-align: right; font-family: "Montserrat", "sans-serif"; font-weight: bold; font-size: 13px;}
header .pricing-title {background: #cccccc; color: white; height: 200px; line-height: 200px; font-family: "Montserrat", "sans-serif"; }
header .pricing-title h2 {font-size: 28px; font-weight: bold; text-transform: uppercase; margin-left: 5%; float:left; margin-top: -0.01%;}
header .pricing-title .header--ariane {float: right; margin-right: 5%;}
header .pricing-title .header--ariane a{color: white;}
header .main-nav--company img{width: 4%!important; float: left;}
header nav ul li {display: inline-block;margin-left: 1%; margin-right: 1%; text-transform: uppercase; position: relative;}
header nav ul li:last-child {font-size: 15px;}
header nav ul li a {text-decoration: none; color: #757575;}
header nav ul li a {transition: all linear 1s; -moz-transition: all linear 1s; -webkit-transition: all linear 1s;}
header nav ul li a:hover {color: #d2d0d0;}

header nav ul li ul {position: absolute; background-color: #494949; color: white!important;width: 130%; line-height: 20px;}
header nav ul li ul {text-align: left!important; padding: 20%;}
header nav ul li ul li a {color: white!important;}
/* -------------------- End Header --------------------------- */


/* ------------------------ Pricing ------------------------- */
.pricing {text-align: center;}
.pricing section {background-color: #f5f5f5; width: 22.333333333%; margin-left: 0.5%; margin-right: 0.5%; display: inline-block; margin-bottom: 1%;}
.pricing button {font-size: 10px; padding-top: 2%; padding-bottom: 2%; padding-left: 5%; padding-right: 5%; background: #aaaaaa; color:white; border: solid 1px #757575;}
.pricing button {text-transform: uppercase; margin-bottom: 1%; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin-top: 5%; margin-bottom: 5%; border: none;}
.pricing button:hover {cursor: pointer;}
.pricing .best-option {background-color: #333333!important;}
.pricing .best-option h3 {color: white!important;}
.pricing .best-option p {color: #cccccc!important;}
.pricing .best-option .price {color:white!important;}
.pricing .best-option button {background-color:white!important; color: #333333!important;}
.pricing section hr {color: white!important; background-color:white!important; border-top: white 1px solid;}
.pricing section .price {color: #333333!important; font-family: "Montserrat", "sans-serif"; font-weight: bold; font-size: 30px; text-transform: uppercase;}
.pricing .container h3 {font-family: "Montserrat", "sans-serif"; font-weight: bold; font-size: 20px; text-transform: uppercase;}
.pricing section h3 {color: #333333!important; font-family: "Montserrat", "sans-serif"; font-weight: bold; font-size: 18px!important; text-transform: uppercase;}
.pricing section p {color: #888888!important; font-family: "Montserrat", "sans-serif"; font-weight: bold; font-size: 11px!important; text-transform: uppercase; line-height: 15px;}

.pagination a {text-decoration: none; border: 2px solid #838383; padding: 1%; font-family: "Montserrat", "sans-serif"; color: #636363;}
.pagination a {-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
.pagination .pagination_active {text-decoration: underline; color: white; background-color: #333333; border: solid 2px #333333; text-decoration: none!important;}
/* ----------------------- End Pricing ----------------------- */


/* ------------------------ Portfolio ------------------------- */
.portfolio .container {margin-top: 1500%!important; margin-bottom: 5%;}
.portfolio .container div {background-color: #cccccc; width: 32%; margin-left: 0.25%; margin-right: 0.25%; margin-top: 0.5%; margin-bottom: 0.5%; height: 250px; position: relative; overflow: hidden;}

.portfolio .container .hide {display: block; background-color: rgba(0, 0, 0, 0.57);position: absolute; bottom: -69px; width: 100%; padding-left: 2%; padding-bottom: 2%; padding-right: 2%;}
.portfolio .container .hide {transition: bottom linear 1s; -webkit-transition: bottom linear 0.1s; -moz-transition: bottom linear 1s;}
.portfolio .container .hide h1, h2, h3, h4, h5, h6, p {color: white!important; font-family: "Montserrat", "sans-serif"; text-transform: uppercase;}
.portfolio .container .hide h3 {font-size: 16px; font-weight: bold; font-style: normal;}
.portfolio .container .hide p {font-size: 11px; font-style: normal; color:white!important;}
.portfolio .container .hide h3 a {color: white!important;}
.portfolio .container div:hover .hide {bottom: 0px;}

.portfolio-single {margin-bottom: 1%;}
.portfolio-single h1, .portfolio-single h2, .portfolio-single h3, .portfolio-single h4{color: black!important;}
.portfolio-single p {color: silver!important;}
.portfolio-single .portfolio-single--description {width: 59%; margin-right: 1%; min-height: 250px;}
.portfolio-single .portfolio-single--view {padding-top: 0.01%;}
.portfolio-single .portfolio-single--view button {width:40%; padding-top: 1%; padding-bottom: 1%; background-color:white; border: solid 5px silver; font-size: 10px; text-transform: uppercase;}

.banner {position: relative; overflow: auto; background-color:white; margin-top: 2.5%; margin-bottom: 2.5%; max-width: 100%; min-width: 100%; min-height: 730px;}
.banner li {list-style: none;}
.banner ul li {float: left;}
.banner ul li img {width: 100%;}
/* ----------------------- End Portfolio ----------------------- */


/* ------------------------ Blog ------------------------- */
.blog a {text-decoration: none!important; color: #636363;}
.blog .container .right-side h1, .blog .container .right-side h2, .blog .container .right-side h3, .blog .container .right-side h4, .blog .container .right-side h5 {color: #333333!important; font-family: "Montserrat", "sans-serif"; font-weight: bold; font-size: 18px!important; text-transform: uppercase;}
.blog .container .post h1, .blog .container .post h2, .blog .container .post h3, .blog .container .post h4, .blog .container .post h5 {color: #333333!important; font-family: "Montserrat", "sans-serif"; font-weight: bold; font-size: 18px!important; text-transform: uppercase;}
.blog .container .post p {color:#b2b2b2!important;}
.blog {margin-top: 2.5%; margin-bottom: 2.5%;}
.blog .container .right-side {float:right;}
.blog .container .post img {max-width: 70%}
.blog .container .post {max-width: 70%; margin-top: 5%;}
.blog .container .post .more {display:block; text-align: right; color:#b2b2b2!important; text-transform: uppercase; font-family: "Montserrat", "sans-serif";}
.blog .container .post .link{background-color: #f5f5f5; margin-top: 2%; margin-bottom: 2%;}
.blog .container .post .link span {display: inline-block; padding: 1.5%; margin-left: 1%; margin-right: 1%; text-transform: uppercase; font-family: "Montserrat", "sans-serif"; color: #636363;}
.blog .container .right-side {max-width: 25%;}
.blog .container .right-side .recent li {background-color: #f5f5f5; color: #333333!important; text-transform: uppercase; padding: 5%; max-width: 100%; margin-top: 2.5%; margin-bottom: 2.5%;}
.blog .container .right-side .recent li:last-child {margin-bottom: 10%;}
.blog .container .right-side .category li{color: #333333!important; text-transform: uppercase; max-width: 100%; margin-top: 0.5%; margin-bottom: 0.5%;}
.blog .container .right-side .category li .how-many {display: block; text-align: right;}
.blog .container .right-side .cloud span {display: inline-block; padding: 2%; border: 1px solid #efefef; margin-top: 2%;}
.blog .container .right-side .cloud span a {color: #bfbfbf!important; text-transform: uppercase;}
.blog .container .right-side .cloud span {-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
/* ---------------------- End Blog ----------------------- */


/* -------------------------- Footer ------------------------- */
footer {background-color: #1d1d1d; margin:0!important; padding-top: 2%;}
footer h5{font-size: 14px;}
footer i {color:white;}
footer p {color:white; font-size: 11px;}
footer a {color:white; text-decoration: none;}
.footer--silver {background-color:#3c3c3c; padding-top: 2%; padding-bottom: 2%;}
footer h1, footer h2, footer h3, footer h4, footer h5 {color:white;font-family: "Montserrat", "sans-serif"; text-transform: uppercase;}
/* ------------------------ End Footer ----------------------- */
